{{> header}}
<div id="hero" style="background-image: url({{data.post.image.url}});">
</div>
<!------------------Content------------------->
<div id="content">
<div class="label label_idea">IDEAS</div>
<div id="content_title">{{data.post.title}}</div>
<div id="content_text">
    {{#if data.post.video}}
        <div class="content_image" id="content_image_1">
        <iframe width="100%" height="100%" src="{{data.post.video}}" frameborder="0" allowfullscreen></iframe>
    </div>
    {{else}}
        <div class="written_by" id="matthew">
            <div class="written_by_caption">
              <div class="label label_written_by">Written by:</div>
                    {{data.post.author.name.first}} {{data.post.author.name.last}}
                    <a class="view-more" href="/author/{{data.post.author.name.first}}-{{data.post.author.name.last}}">View more posts by {{data.post.author.name.first}} {{data.post.author.name.last}}</a> 
            </div>                          
        </div>
    {{/if}}
    {{{data.post.content.extended}}}    
</div>
<div class="related-posts">
    <h2>Related Projects & Ideas</h2>
    {{> cards}}
</div>
<div class="clear"></div>
</div>
<div id="footer"></div>