<div id="header">
    <a href="/"><div id="logo"></div></a>
    <div id="menu">
        <ul>
            <li><a href="/keystone/signin">Signin</a></li>
            <!-- <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li> -->
        </ul>
    </div>
</div>
<div id="hero" style="background-image: url({{data.post.image.url}});">
</div>
<!------------------Content------------------->
<div id="content">
<div class="label label_idea">IDEAS</div>
<div id="content_title">{{data.post.title}}</div>
<div id="content_text">
    <div class="written_by" id="matthew">
        <div class="written_by_caption">
            <div class="label label_written_by">Written by:</div>
            {{data.post.author.name.first}} {{data.post.author.name.last}}
        </div>
    </div>
    {{{data.post.content.extended}}}    
</div>
<div class="clear"></div>
</div>
<div id="footer"></div>