{{> header}}
<div class="author-posts" style="width: 85%; height: auto; margin-left:auto;margin-right:auto; margin-bottom: 1.75%;">
<div class="author">
	<h4>Posts by</h4>
	{{#if data.posts}}
    <h2>{{data.posts.[0].author.name.first}} {{data.posts.[0].author.name.last}} </h2>
</div>
	<div class="group" id="group_3">
	
	<div class="colx1">
        <div class="small_box" id="news_box1" 
        style="background-image: url({{data.posts.[0].image.secure_url}});">
            <div id="post_title">
                <div class="label label_news">IDEA</div>
                {{data.posts.[0].title}}
            </div>
        </div>
        <div class="news_text_box" id="news_text_box1">
            <div class="news_content">
            	{{!-- <div class="news_content"> --}}
                    {{formatShortDate publishedDate "short_date"}}
                    {{{data.posts.[0].content.brief}}}                                  
             {{!-- </div> --}}
            </div>
        </div>
     </div><!-- end of colx1 -->


	<div class="colx2">
        <div class="small_box" id="news_box2" 
        style="background-image: url({{data.posts.[1].image.secure_url}});">
            <div>
                <div class="label label_news">IDEA</div>
                {{data.posts.[1].title}}
            </div>
        </div>
        <div class="news_text_box" id="news_text_box1">
            <div class="news_content">
				<div class="news_content">
                    {{formatShortDate publishedDate "short_date"}}
                    {{{data.posts.[1].content.brief}}}                                  
            	 </div>
            </div>
        </div>
     </div><!-- end of colx1 -->


	<div class="colx3">
        <div class="small_box" id="news_box3" 
        style="background-image: url({{data.posts.[2].image.secure_url}});">
            <div>
                <div class="label label_news">IDEA</div>
                {{data.posts.[2].title}}
            </div>
        </div>
        <div class="news_text_box" id="news_text_box1">
            <div class="news_content">
            <div class="news_content">
                    {{formatShortDate publishedDate "short_date"}}
                    {{{data.posts.[2].content.brief}}}                                  
             </div>
            </div>
        </div>
     </div><!-- end of colx1 -->
     <div style="clear:both; width:0px; height:0px;"></div>
   </div><!-- end of group -->{{/if}}
   <div style="width: 20%;margin-top:32px;margin-left:auto;margin-right:auto;">
     	<button type="button" style="text-transform: uppercase; width:60px;" id="more">more</button>
     </div>
</div>
<div id="footer"></div>