<div class="card-wrapper" id="group_3">
	{{!-- {{#each data.posts}} --}}
    <div class="colx1">
        <div class="small_box" id="news_box1" 
        style="background-image: url({{data.posts.[0].image.secure_url}});">
            <div id="post_title">
                <div class="label label_news">IDEA</div>
                {{data.posts.[0].title}}
            </div>
        </div>      
     </div><!-- end of colx1 -->


	<div class="colx2">
        <div class="small_box" id="news_box2" 
        style="background-image: url({{data.posts.[1].image.secure_url}});">
            <div>
                <div class="label label_news">IDEA</div>
                {{data.posts.[1].title}}
            </div>
        </div>
      </div><!-- end of colx1 -->


	<div class="colx3">
        <div class="small_box" id="news_box3" 
        style="background-image: url({{data.post.project.[0].image.secure_url}});">
            <div>
                <div class="label label_news">IDEA</div>
                {{data.post.project.[0].title}}
            </div>
        </div>
     </div><!-- end of colx1 -->
     <div style="clear:both; width:0px; height:0px;"></div>
{{!--      {{/each}} --}}
   </div><!-- end of group -->